## Getting the Data Type

In [5]:
# Python Data Types Example

# Text Type
x1 = "Hello World"                         # str

# Number Types
x2 = 20                                    # int
x3 = 20.5                                  # float
x4 = 1j                                    # complex

# Sequence Types
x5 = ["apple", "banana", "cherry"]         # list
x6 = ("apple", "banana", "cherry")         # tuple
x7 = range(6)                              # range

# Mapping Type
x8 = {"name": "John", "age": 36}           # dict

# Set Type
x9 = {"apple", "banana", "cherry"}         # set
x10 = frozenset({"apple", "banana", "cherry"})  # frozenset

# Boolean Type
x11 = True                                 # bool


# None Type
x12 = None                                 # NoneType

# Print type of each variable
print(type(x1))
print(type(x2))
print(type(x3))
print(type(x4))
print(type(x5))
print(type(x6))
print(type(x7))
print(type(x8))
print(type(x9))
print(type(x10))
print(type(x11))
print(type(x12))

notes_observations = '''
Python Data Types — Concise Notes

• Everything is an object; Python is dynamically typed.
• Use type() or isinstance() to check types.

str → immutable, ordered, supports slicing.
int, float, complex → numeric; / gives float, // gives floor division.
list (mutable), tuple (immutable), range (sequence generator).
dict → key–value pairs; keys unique and immutable.
set (mutable, no duplicates), frozenset (immutable set).
bool → subclass of int; True == 1, False == 0.
None → only one instance; use "is None", not "==".

Mutable: list, dict, set.
Immutable: str, tuple, frozenset, int, float, bool.

Use copy() for mutable copies.
Avoid mutable defaults in functions.
'''

<class 'str'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'list'>
<class 'tuple'>
<class 'range'>
<class 'dict'>
<class 'set'>
<class 'frozenset'>
<class 'bool'>
<class 'NoneType'>

## Number Types and Type Conversion

In [1]:
# Different types of Numbers in Python

# Integer
x_int = 10
print(x_int, "=>", type(x_int))   # int

# Float
x_float = 10.5
print(x_float, "=>", type(x_float))  # float

# Complex
x_complex = 3 + 4j
print(x_complex, "=>", type(x_complex))  # complex

# Boolean (a subtype of int)
x_bool = True
print(x_bool, "=>", type(x_bool))  # bool

# Conversion examples
print("\n--- Type Conversions ---")
print(float(x_int))     # int → float
print(int(x_float))     # float → int
print(complex(x_int))   # int → complex

# Checking numeric behavior
print("\n--- Numeric Operations ---")
print(x_int + x_float)    # int + float = float
print(x_int + x_complex)  # int + complex = complex

notes_and_observations = '''
Python Number Types — Concise Notes

• int → whole numbers, unlimited length.
• float → decimal numbers, precision ~15–17 digits.
• complex → written as a + bj; use .real and .imag for parts.
• bool → subclass of int; True == 1, False == 0.

Type conversion:
int() → truncates decimals.
float() → adds decimal point.
complex(a, b) → creates complex number a + bj.

Operation rules:
int + float → float
int + complex → complex
float + complex → complex

Note:
Division (/) always returns float; use // for floor division.
All numeric types support arithmetic, comparison, and type casting.
'''

10 => <class 'int'>
10.5 => <class 'float'>
(3+4j) => <class 'complex'>
True => <class 'bool'>

--- Type Conversions ---
10.0
10
(10+0j)

--- Numeric Operations ---
20.5
(13+4j)

In [8]:
# To Float:

x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2

print(type(x))
print(type(y))
print(type(z))
print(type(w))

notes_observations = '''
Float Conversion — Key Notes

• float() converts integers and numeric strings to floating-point numbers.
• Examples:
    float(1) → 1.0
    float("3") → 3.0
    float("4.2") → 4.2
• Strings must represent valid numeric values, else ValueError occurs.
• float() cannot convert non-numeric strings (e.g., float("abc")).
• Result is always of type float.
'''

<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>

In [9]:
# These are also floats

x=35e3
y=-3e56
print(type(x))
print(type(y))

notes_and_observations = '''
Python Float in Exponential Form — Key Points

• Numbers with 'e' or 'E' use scientific (exponential) notation.
• 35e3 means 35 × 10³ → 35000.0
• -3e56 means -3 × 10⁵⁶
• Such values are always of type float, even if no decimal is written.
• Useful for representing very large or very small numbers.
'''

<class 'float'>
<class 'float'>

In [12]:
# closely viewing complex again

x=1
print(complex(x))

few_observations_complex = '''
Complex Numbers — Quick Notes

• complex(x) → converts x to a complex number with imaginary part 0.
  Example: complex(1) → (1+0j)
• complex(a, b) → creates a complex number a + bj.
  Example: complex(3, 4) → (3+4j)
• Use .real and .imag to access parts:
    z = 3 + 4j
    z.real → 3.0
    z.imag → 4.0
• The imaginary part is written with 'j' (not 'i' as in math).
'''

(1+0j)

In [11]:
# To String:

x = str("s1")
y = str(2)
z = str(3.0)
print(x)
print(y)
print(z)

notes_and_observations = '''
String Conversion — Key Notes

• str() converts any object to its string representation.
• Examples:
    str("s1") → 's1'
    str(2) → '2'
    str(3.0) → '3.0'
• Works for all data types (int, float, bool, etc.).
• Commonly used for printing or concatenating values.
• Output type is always <class 'str'>.
'''

s1
2
3.0

## Type Converion (Implicit) vs Type Casting (Explicit)

In [2]:
# Implicit Type Conversion (done automatically by Python)
x = 5       # int
y = 2.5     # float
z = x + y   # int + float → float
print(z, type(z))

# Explicit Type Casting (done manually by programmer)
a = "10"           # str
b = int(a) + 5     # convert str → int
print(b, type(b))

notes_and_observations = '''
Type Conversion in Python — Summary

Implicit Conversion:
• Happens automatically by Python.
• Occurs in mixed-type operations (e.g., int + float → float).
• Python promotes smaller type → larger type (int → float → complex).

Explicit Conversion:
• Done manually using functions like int(), float(), str(), complex().
• Example: int("10") → 10
• Invalid casts (e.g., int("abc")) raise ValueError.
• Always ensure valid data before casting.
'''

7.5 <class 'float'>
15 <class 'int'>

## Strings (Triple Quotes)

In [14]:
# This is a simple try out (printing with triple quotes)
print("""Shahwar""")
print("""I'm Shahwar,
I am a RACE, REVA student.""")

notes_and_observations = '''
Triple Quotes — Key Notes

• Triple quotes (single or double) define multiline string literals.
• Useful for:
    – Writing multi-line text or docstrings.
    – Preserving line breaks and indentation.
• Example:
    The 2nd print in the code cell,
  → prints on multiple lines as written.
• The 1st example in the cell, triple quotes, double quotes or single quotes, all works the same.
• Triple quotes can be nested with single quotes safely. (IMPORTANT advantage)
'''

Shahwar
I'm Shahwar,
I am a RACE, REVA student.

## Strings (Quotes within Quotes)

In [19]:
# Quotes inside Quotes

print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')

notes = '''
Quotes in Strings — Key Notes

• Strings can use single or double quotes interchangeably.
• Use opposite quote type inside a string to avoid escaping.
• Mixing quotes prevents syntax errors.
• If both types are needed, escape one using backslash.
• Triple quotes, can also hold both quote types easily.
'''

It's alright
He is called 'Johnny'
He is called "Johnny"

## Strings (multiline strings)

In [21]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

notes = '''
Multiline Strings — Key Notes

• Created using triple quotes.
• Preserve line breaks, spaces, and formatting as written.
• Can span multiple lines without using newline characters (\n).
• Often used for:
    – Multi-line text content.
    – Docstrings (function or class documentation).
'''

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

## Strings (strings are arrays)

In [24]:
a = "Hello, World!"
print(a[1])

notes = '''
Strings as Arrays — Key Notes

• In Python, strings are sequences (arrays) of Unicode characters.
• There is no separate character type; a single character is a string of length 1.
• Characters can be accessed using square brackets [] with zero-based indexing.

Example:
a = "Hello, World!"
print(a[1])   # Output: e

• Index starts at 0 → a[0] = 'H', a[1] = 'e', etc.
• Negative indices count from the end → a[-1] = '!'.
• Strings are immutable — you cannot change characters directly.
'''

e

## Strings (looping through it)

In [26]:
for x in "banana":
  print(x)

notes = '''
Looping Through Strings — Key Notes

• Strings are iterable sequences of characters.
• Using a for-loop, each iteration gives one character at a time.
• Each loop iteration processes one character (string of length 1).
• Useful for character-by-character operations like counting, searching, etc.
'''

b
a
n
a
n
a

## Strings (length)

In [31]:
a = "Hello, World!"
print(len(a))



notes = '''
len() Function — Key Notes

• len() returns the number of characters in a string.
• Counts letters, spaces, punctuation — all characters included.
• Works for other data types too:
    len(list), len(tuple), len(dict), etc.
• Raises TypeError if object has no defined length.
'''

13

## Strings (Memberships `in` / `not in`)

In [30]:
fruits = ["apple", "banana", "cherry"]

print("banana" in fruits)      # True
print("grapes" not in fruits)  # True



notes = '''
Membership Operators — Key Notes

• 'in' → checks if an element exists in a sequence (string, list, tuple, etc.).
• 'not in' → checks if an element does NOT exist.
• Returns a boolean (True or False).
• Works for strings too: "a" in "apple" → True.
'''

True
True

## Strings (Accessing)

In [32]:
# --- Accessing Characters in a String ---

text = "Python"

# Positive Indexing
print(text[0])    # First character → 'P'
print(text[3])    # Fourth character → 'h'

# Negative Indexing
print(text[-1])   # Last character → 'n'
print(text[-3])   # Third from end → 'h'



notes = '''
Accessing Characters in Strings — Key Notes

• Strings support both positive and negative indexing.

Positive Indexing:
text[0] → first character
text[1] → second character
text[3] → fourth character

Negative Indexing:
text[-1] → last character
text[-2] → second last character
text[-3] → third from end

• Indexing starts at 0 from the left and -1 from the right.
• Accessing an index out of range raises IndexError.
'''

P
h
n
h

In [ ]:
# From left indexing starts at 0
# From right, indexing starts -1

## Strings (Slicing)

In [33]:
# --- Slicing Strings ---

text = "PythonProgramming"

# From start to specific index
print(text[:6])        # 'Python'

# From specific index to end
print(text[6:])        # 'Programming'

# Slice between indexes
print(text[0:12])      # 'PythonProgra'

# Full string
print(text[:])         # 'PythonProgramming'

# Negative slicing
print(text[-11:-6])    # 'Progr'



notes = '''
String Slicing — Key Notes

• Slicing extracts a substring using the syntax: string[start:end].
• The slice includes start index, excludes end index.
• Negative indices count from end:
  text[-11:-6] → substring from 11th last to 6th last character.
• Slicing never raises IndexError — out-of-range indices are handled safely.
• Step parameter also allowed: text[start:end:step].
'''

Python
Programming
PythonProgra
PythonProgramming
Progr

## String (Upper Case)

In [35]:
a = "Hello, World!"
print(a.upper())



notes = '''
String upper() Method — Key Notes

• a.upper() returns a copy of the string with all characters in uppercase.
• Original string remains unchanged (strings are immutable).

Example:
"Hello, World!".upper() → "HELLO, WORLD!"

• Useful for case-insensitive comparisons or formatting.
'''

HELLO, WORLD!

## Strings (Lower Case)

In [38]:
a = "Hello, World!"
print(a.lower())



notes = '''
String lower() Method — Key Notes

• a.lower() returns a copy of the string with all characters in lowercase.
• Original string remains unchanged (immutable).

Example:
"Hello, World!".lower() → "hello, world!"

• Commonly used for case-insensitive text comparisons.
'''

hello, world!

## Strings (Remove White Space)

In [43]:
a = " Hello, World! "
print(a.strip())
print(a.strip("!Hd "))



notes = '''
String strip() Method — Key Notes

• a.strip() removes leading and trailing whitespace (spaces, tabs, newlines).
• Does NOT remove spaces between words.

Example:
" Hello, World! ".strip() → "Hello, World!"

• To remove specific characters: a.strip("!Hd ")
• Original string remains unchanged (returns a new string).
'''

Hello, World!
ello, Worl

## Strings (Replace Strings)

In [44]:
a = "Hello, World!"
print(a.replace("H", "J"))




notes = '''
String replace() Method — Key Notes

• a.replace(old, new) returns a new string with all occurrences of 'old' replaced by 'new'.
• Example:
  "Hello, World!".replace("H", "J") → "Jello, World!"
• You can optionally specify a count: a.replace("l", "x", 2) → replaces first 2 occurrences.
• Original string is unchanged (strings are immutable).
'''

Jello, World!

## Strings (Split)

In [46]:
a = "Hello, World!"
print(a.split(","))



notes = '''
String split() Method — Key Notes

• a.split(separator) splits the string into a list based on the given separator.
• Example:
  "Hello, World!".split(",") → ['Hello', ' World!']
• Default separator (if none provided) is any whitespace.
• Useful for breaking strings into parts (e.g., words, CSV values).
• Returns a list; original string remains unchanged.
'''

['Hello', ' World!']

In [47]:
# --- Common String Methods (Let's have a quick look)---

sample = "  Hello, Python World!  "

print(sample.strip())            # Removes extra spaces → 'Hello, Python World!'
print(sample.replace("Python", "Java"))  # Replace substring → '  Hello, Java World!  '
print(sample.split())             # Split into words → ['Hello,', 'Python', 'World!']
print(sample.lower())             # Lowercase
print(sample.upper())             # Uppercase
print(sample.title())             # Title Case
print(sample.startswith("  He"))  # True
print(sample.endswith("!  "))     # True
print(len(sample))                # Length (including spaces)
print("Python" in sample)         # Membership test → True

Hello, Python World!
  Hello, Java World!
['Hello,', 'Python', 'World!']
  hello, python world!
  HELLO, PYTHON WORLD!
  Hello, Python World!
True
True
24
True

## Strings (Concatenation)

In [48]:
# --- String Concatenation ---

# Using + operator
str1 = "Hello"
str2 = "World"
result = str1 + " " + str2
print(result)      # Output: Hello World

# Concatenating multiple strings
greet = "Good" + " " + "Morning" + "!"
print(greet)       # Output: Good Morning!

# Using += operator (append to existing string)
msg = "Python"
msg += " Programming"
print(msg)         # Output: Python Programming

# Using join() method (useful for lists)
words = ["Python", "is", "fun"]
sentence = " ".join(words)
print(sentence)    # Output: Python is fun




notes = '''
String Concatenation — Key Notes

• The + operator joins strings directly.
  Example: "Hello" + " " + "World" → "Hello World"

• The += operator appends to an existing string.
  Example: msg = "Hi"; msg += " there" → "Hi there"

• join() is preferred for combining list or iterable of strings.
  Example: " ".join(["Python", "is", "fun"]) → "Python is fun"

• All operands must be strings; mixing other types raises TypeError.
  Use str() to convert non-string values if needed.
'''

Hello World
Good Morning!
Python Programming
Python is fun

## Strings (F String)

In [ ]:
# --- Using f-strings ---

name = "Alice"
age = 25
marks = 92.7

# Basic usage
print(f"My name is {name}, I am {age} years old, and scored {marks}%.")

# Using expressions inside {}
print(f"Next year, I’ll be {age + 1} years old.")

# Formatting numbers
pi = 3.1415926
print(f"Value of pi up to 2 decimals: {pi:.2f}")

# Using f-strings with dictionary or variables
person = {"name": "Bob", "age": 30}
print(f"{person['name']} is {person['age']} years old.")

# Alignment and spacing
print(f"|{'Python':^10}|{'Rocks':>10}|{'!':<5}|")  # center, right, left




'''
f-Strings — Key Notes

• Introduced in Python 3.6 for easier string formatting.
• Syntax: f"Text {expression}" — expressions inside {} are evaluated at runtime.

Examples:
f"My name is {name}" → inserts variable value.
f"{age + 1}" → allows expressions and calculations.
f"{pi:.2f}" → formats float to 2 decimal places.
f"{person['name']}" → works with dicts and complex expressions.

• Supports alignment:
  {:<} → left-align, {:>} → right-align, {:^} → center-align.
  Example: f"|{'Python':^10}|{'Rocks':>10}|{'!':<5}|"

• Faster and more readable than format() or % formatting.
'''

My name is Alice, I am 25 years old, and scored 92.7%.
Next year, I’ll be 26 years old.
Value of pi up to 2 decimals: 3.14
Bob is 30 years old.
|  Python  |     Rocks|!    |

In [49]:
# more tests on format strings
def add(a,b):
  return a+b
print(f"Numbers added up : {add(5,7)}")



notes = '''
f-Strings with Functions — Key Notes

• You can call functions or perform operations directly inside {}.
• Example:
  def add(a, b):
      return a + b
  print(f"Sum: {add(5, 7)}") → "Sum: 12"

• Any valid Python expression can be used inside f-string braces.
• f-strings are evaluated at runtime, so function return values appear directly in output.
• Useful for embedding computed or dynamic values in formatted strings.
'''

Numbers added up : 12

In [ ]:
# formatting anf int-->float
price=59
print(f"The price is : {price:.2f}")

The price is : 59.00

In [ ]:
# formatting anf int-->float
price=59.43667
print(f"The price is : {price:.2f}")

The price is : 59.44

In [ ]:
print(f"Numbers added up is : {3+7}")
print(f"Numbers added up is : {type(3)}")

Numbers added up is : 10
Numbers added up is : <class 'int'>

## Escape Characters

In [51]:
# --- Escape Characters in Strings ---

# Using \" to include double quotes inside a string
txt1 = "We are the so-called \"Vikings\" from the north." # We ignore those "" quotes in the middle
print(txt1)   # Output: We are the so-called "Vikings" from the north.

# Single quote inside single-quoted string
txt2 = 'It\'s a beautiful day!' # Here also we ignore.
print(txt2)   # Output: It's a beautiful day!

# Backslash itself
txt3 = "This is a backslash: \\" # Basically writing 2 backslases, we ignore and escape back slash and print it
print(txt3)   # Output: This is a backslash: \

# New line
txt4 = "Hello\nWorld"
print(txt4)   # Output:
              # Hello
              # World

# Carriage return
txt5 = "Hello\rWorld"
print(txt5)   # Output: World  (overwrites 'Hello' depending on terminal)

# Tab space
txt6 = "Python\tRocks"
print(txt6)   # Output: Python    Rocks

# Backspace
txt7 = "Hello\bWorld"
print(txt7)   # Output: HellWorld  (removes 'o')


# Escape Characters — Key Notes

# • Escape characters start with a backslash (\) to insert special characters in strings.
# • They are used when a character cannot be written directly.

# Common escape sequences:
# \"   → double quote inside double-quoted string
# \'   → single quote inside single-quoted string
# \\   → backslash itself
# \n   → newline (line break)
# \r   → carriage return (moves cursor to start of line)
# \t   → tab space
# \b   → backspace (removes previous character)

# • Example: "It\'s \"Python\"" → It's "Python"
# • Useful for formatting output or including special symbols in strings.
# • To avoid escaping, use raw strings: r"Hello\nWorld" → prints literal \n.

We are the so-called "Vikings" from the north.
It's a beautiful day!
This is a backslash: \
Hello
World
World
Python	Rocks
HelloWorld

## Booleans (Different forms)

In [52]:
# --- Python Booleans ---

# Boolean values
x = True
y = False
print(x, type(x))    # Output: True <class 'bool'>
print(y, type(y))    # Output: False <class 'bool'>

# Boolean from comparisons
print(10 > 5)        # True
print(10 == 5)       # False
print(10 < 5)        # False

# Using Boolean in if statements
if 10 > 3:
    print("Condition is True!")

# bool() function - converts values to Boolean
print(bool(15))          # True (non-zero number)
print(bool(0))           # False
print(bool("Hello"))     # True (non-empty string)
print(bool(""))          # False (empty string)
print(bool([]))          # False (empty list)
print(bool([1, 2, 3]))   # True (non-empty list)

# Logical operators
a, b = True, False
print(a and b)   # False
print(a or b)    # True
print(not a)     # False




notes = '''
Python Booleans — Key Notes

• bool type has two values: True and False (case-sensitive).
• bool is a subclass of int → True == 1, False == 0.

Boolean from comparisons:
10 > 5 → True
10 == 5 → False
10 < 5 → False

bool() conversion rules:
- Non-zero numbers → True
- 0 → False
- Non-empty strings/containers → True
- Empty strings/containers → False

Used in control flow:
if condition:
    executes when condition is True

Logical operators:
and → True if both True
or  → True if at least one True
not → inverts the Boolean value

Note:
Strings like "False" are still True (non-empty).
'''

True <class 'bool'>
False <class 'bool'>
True
False
False
Condition is True!
True
False
True
False
False
True
False
True
False

In [53]:
# Extra boolean tests
def func() :
  return True

if func():
  print("YES!")
else:
  print("NO!")

YES!

## Booleans (All False forms)

In [54]:
bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})

False

In [56]:
# Object False (a bool)
class myclass():
  def __len__(self):
    return 0

myobj = myclass()
print(bool(myobj))



notes = '''
Boolean Value of Custom Objects — Key Notes

• When bool() is called on a custom object, Python checks:
    1. __bool__() method (if defined)
    2. Otherwise, __len__() method
    3. If neither exists, the object is considered True

• In this example:
    class myclass():
        def __len__(self):
            return 0

  → bool(myobj) returns False because __len__() == 0

• If __len__() returned a non-zero value, bool(myobj) would be True.
• Thus, objects with __len__() = 0 or __bool__() = False evaluate as False.
'''

False

## Isinstance

In [58]:
# --- isinstance() in Python ---

x = 10
print(isinstance(x, int))     # True
print(isinstance(x, float))   # False

s = "Hello"
print(isinstance(s, str))     # True

# Checking against multiple types
print(isinstance(x, (int, float)))  # True (x is int)



notes = '''
isinstance() — Key Notes

• Syntax: isinstance(object, classinfo)
• Returns True if the object is an instance of the given type or class.

Examples:
isinstance(10, int) → True
isinstance("Hello", str) → True
isinstance(10, float) → False

• classinfo can be a tuple of types — True if object matches any:
  isinstance(10, (int, float)) → True

• Safer and more flexible than using type() ==, especially with inheritance.
'''

True
False
True
True

## Operators (Arithmetic)

In [ ]:
# --- Arithmetic Operators ---
a, b = 10, 3

print(a + b)   # Addition → 13
print(a - b)   # Subtraction → 7
print(a * b)   # Multiplication → 30
print(a / b)   # Division → 3.333...
print(a // b)  # Floor Division → 3
print(a % b)   # Modulus → 1
print(a ** b)  # Exponentiation → 1000

13
7
30
3.3333333333333335
3
1
1000

## Operators (Assignment)

In [59]:
# --- Assignment Operators ---
x = 5
x += 3    # x = x + 3
print(x)  # 8

x -= 2
print(x)  # 6

x *= 2
print(x)  # 12

x /= 3
print(x)  # 4.0

x %= 3
print(x)  # 1.0

x **= 2
print(x)  # 1.0

x //= 2
print(x)  # 0.0

8
6
12
4.0
1.0
1.0
0.0

## Operators (Walrus)

In [61]:
n = 5
if (x := n) > 3:
    print(f"x is {x}")   # Output: x is 5




notes = '''
Walrus Operator (:=) — Key Notes

• Introduced in Python 3.8, also called the “assignment expression.”
• Syntax: variable := expression

• It assigns a value to a variable *and* returns that value in the same expression.

Example:
n = 5
if (x := n) > 3:
    print(f"x is {x}")   # Output: x is 5

• Equivalent to:
x = n
if x > 3:
    print(f"x is {x}")

• Useful for:
  - Reducing repetition in conditions and loops.
  - Assigning values while testing them.

Example in loop:
while (line := input("Enter: ")) != "quit":
    print("You entered:", line)

• Must be enclosed in parentheses inside expressions (like in if conditions).
'''

x is 5

## Operators (Comparision)

In [ ]:
# --- Comparison Operators ---
a, b = 10, 20

print(a == b)   # Equal → False
print(a != b)   # Not equal → True
print(a > b)    # Greater → False
print(a < b)    # Less → True
print(a >= b)   # Greater or equal → False
print(a <= b)   # Less or equal → True

False
True
False
True
False
True

## Operators (Logical)

In [ ]:
# --- Logical Operators ---
x, y = True, False

print(x and y)  # False
print(x or y)   # True
print(not x)    # False

False
True
False

## Operators (Identity)

In [62]:
# --- Identity Operators ---
a = [1, 2, 3]
b = a
c = [1, 2, 3]

print(a is b)      # True (same object)
print(a is c)      # False (same values, different objects)
print(a is not c)  # True

True
False
True

## Operators (Membership)

In [64]:
# --- Membership Operators ---
fruits = ["apple", "banana", "cherry"]

print("banana" in fruits)     # True
print("mango" not in fruits)  # True

True
True

## Operators (Bitwise)

In [65]:
# --- Bitwise Operators ---
a, b = 5, 3   # (binary 0101, 0011)

print(a & b)   # AND  → 1
print(a | b)   # OR   → 7
print(a ^ b)   # XOR  → 6
print(~a)      # NOT  → -6
print(a << 1)  # Left Shift → 10
print(a >> 1)  # Right Shift → 2

1
7
6
-6
10
2

## Operator Presedence

In [66]:
# --- Operator Precedence ---
# Highest to lowest: (), **, *, /, //, %, +, -, comparison, logical
result = (5 + 2) * 3 ** 2
print(result)   # 63 (because ** has higher precedence than + or *)

63

## Operators (Presedence Order)

In [68]:

# Operator Precedence (Order of Evaluation) in Python

# Highest → Lowest:

# 1. **                → Exponentiation
# 2. +x, -x, ~x        → Unary plus, minus, bitwise NOT
# 3. *, /, //, %       → Multiplication, Division, Floor division, Modulus
# 4. +, -              → Addition, Subtraction
# 5. <<, >>            → Bitwise shift operators
# 6. &                 → Bitwise AND
# 7. ^                 → Bitwise XOR
# 8. |                 → Bitwise OR
# 9. <, <=, >, >=, ==, !=  → Comparisons
# 10. not              → Logical NOT
# 11. and              → Logical AND
# 12. or               → Logical OR
# 13. if ... else      → Conditional expression (ternary operator)
# 14. lambda           → Lambda expression
# 15. :=               → Walrus operator (assignment expression)
# 16. =, +=, -=, etc.  → Assignment operators (lowest precedence)

# Notes:
# • Operators on the same level are evaluated left → right (except ** which is right → left).
# • Use parentheses () to explicitly control evaluation order.
# • Example:
#     result = 2 + 3 * 4 ** 2
#     → 4 ** 2 = 16 → 3 * 16 = 48 → 2 + 48 = 50

## Lists (Basic Knows)

In [70]:
notes='''
Python Lists — Key Notes

1. Ordered
   • Lists maintain the order of insertion — each element has a fixed index.
   • Adding new elements places them at the end (unless inserted elsewhere).
   • Some methods (like sort() or reverse()) can change the order.

2. Changeable (Mutable)
   • Lists can be modified after creation.
   • You can add, remove, or change elements using methods like append(), remove(), insert(), pop(), etc.

3. Allow Duplicates
   • Lists can contain duplicate items since elements are indexed individually.
   • Example: [1, 2, 2, 3] is valid.

Summary:
• Ordered → yes
• Changeable → yes
• Duplicates → allowed
• Indexed → yes (supports positive & negative indexing)
'''

## List (Length)

In [71]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

## List (Constructor)

In [72]:
print(list("abc")) #→ ['a', 'b', 'c']
print(list((1, 2, 3))) #→ [1, 2, 3]
print(list({10, 20, 30})) #→ [10, 20, 30] (unordered)


notes = '''
list() Constructor — Key Notes

• The list() function creates a new list object.
• Syntax: list(iterable)
  → Converts any iterable (tuple, string, set, etc.) into a list.

Example:
thislist = list(("apple", "banana", "cherry"))
print(thislist)   # ['apple', 'banana', 'cherry']

• Note: double parentheses are required — inner () for tuple, outer for function call.
• Works with:
  list("abc") → ['a', 'b', 'c']
  list((1, 2, 3)) → [1, 2, 3]
  list({10, 20, 30}) → [10, 20, 30] (unordered)

• Useful for type conversion or when creating lists from other sequences.
'''

['a', 'b', 'c']
[1, 2, 3]
[10, 20, 30]

## List (One of the Python Collections)

In [73]:
notes = '''
List is one of Python’s four main collection (data structure) types.

Python Collection Types:

1. List → ordered, changeable (mutable), allows duplicates.
   Example: ["apple", "banana", "cherry"]

2. Tuple → ordered, unchangeable (immutable), allows duplicates.
   Example: ("apple", "banana", "cherry")

3. Set → unordered, unindexed, no duplicates, unchangeable elements (but you can add/remove items).
   Example: {"apple", "banana", "cherry"}

4. Dictionary → ordered (since Python 3.7+), changeable, no duplicate keys.
   Example: {"name": "John", "age": 25}

Summary:
• list and dict → mutable
• tuple and set → immutable (set contents can change but not items inside)
• Only list and tuple allow duplicate values.
'''

## List (Access items)

In [ ]:
# --- Access List Items ---
fruits = ["apple", "banana", "cherry", "mango"]

print(fruits[0])      # Access first → apple
print(fruits[-1])     # Access last → mango
print(fruits[1:3])    # Slice (index 1 to 2) → ['banana', 'cherry']
print(fruits[:2])     # From start to index 1 → ['apple', 'banana']
print(fruits[2:])     # From index 2 to end → ['cherry', 'mango']

apple
mango
['banana', 'cherry']
['apple', 'banana']
['cherry', 'mango']

In [ ]:
# To be attended

mylist = ["abc", (1,2), [1,2,3], 4.56, True]
mylist

['abc', (1, 2), [1, 2, 3], 4.56, True]

## List (Changing items)

In [ ]:
# --- Change List Items ---
fruits = ["apple", "banana", "cherry"]

fruits[1] = "kiwi"          # Change single item
print(fruits)               # ['apple', 'kiwi', 'cherry']

fruits[0:2] = ["grapes", "mango"]  # Change a range
print(fruits)               # ['grapes', 'mango', 'cherry']

['apple', 'kiwi', 'cherry']
['grapes', 'mango', 'cherry']

## List (Add items)

In [ ]:
# --- Add List Items ---
fruits = ["apple", "banana"]

fruits.append("cherry")             # Add at end
print(fruits)                       # ['apple', 'banana', 'cherry']

fruits.insert(1, "mango")           # Insert at position 1
print(fruits)                       # ['apple', 'mango', 'banana', 'cherry']

fruits.extend(["kiwi", "orange"])   # Add multiple items
print(fruits)                       # ['apple', 'mango', 'banana', 'cherry', 'kiwi', 'orange']

['apple', 'banana', 'cherry']
['apple', 'mango', 'banana', 'cherry']
['apple', 'mango', 'banana', 'cherry', 'kiwi', 'orange']

## List (Remove items)

In [ ]:
# --- Remove List Items ---
fruits = ["apple", "banana", "cherry", "mango"]

fruits.remove("banana")  # Remove by value
print(fruits)            # ['apple', 'cherry', 'mango']

fruits.pop(1)            # Remove by index
print(fruits)            # ['apple', 'mango']

del fruits[0]            # Delete specific index
print(fruits)            # ['mango']

fruits.clear()           # Clear entire list
print(fruits)            # []

['apple', 'cherry', 'mango']
['apple', 'mango']
['mango']
[]

## List (Loop over a list)

In [ ]:
# --- Loop Lists ---
fruits = ["apple", "banana", "cherry"]

for f in fruits:
    print(f)

# Using index
for i in range(len(fruits)):
    print(f"Index {i} → {fruits[i]}")

# Using while loop
i = 0
while i < len(fruits):
    print(fruits[i])
    i += 1

apple
banana
cherry
Index 0 → apple
Index 1 → banana
Index 2 → cherry
apple
banana
cherry

## List (Comprehension)

In [ ]:
# --- List Comprehension ---
fruits = ["apple", "banana", "cherry", "kiwi"]

newlist = [f for f in fruits if "a" in f]   # Filter items containing 'a'
print(newlist)  # ['apple', 'banana']

squares = [x**2 for x in range(6)]          # Create list of squares
print(squares)  # [0, 1, 4, 9, 16, 25]

['apple', 'banana']
[0, 1, 4, 9, 16, 25]

## List (Sorting a List)

In [ ]:
# --- Sort Lists ---
nums = [5, 2, 9, 1, 5]
nums.sort()
print(nums)       # [1, 2, 5, 5, 9]

nums.sort(reverse=True)
print(nums)       # [9, 5, 5, 2, 1]

fruits = ["banana", "apple", "cherry"]
fruits.sort()
print(fruits)     # ['apple', 'banana', 'cherry']

[1, 2, 5, 5, 9]
[9, 5, 5, 2, 1]
['apple', 'banana', 'cherry']

In [74]:
# Customised Sort

def myfunc(n):
  return abs(n - 50)

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist)



important_notes_on_customised_sort = '''
Custom Sort with key Parameter — Key Notes

• The sort() method can take a custom key function for sorting logic.
• Syntax: list.sort(key = function)

Example:
def myfunc(n):
    return abs(n - 50)

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
→ Sorts based on distance from 50
Output: [50, 65, 23, 82, 100]

Explanation:
• Each element is transformed by key function (abs(n - 50)) before comparison.
• Items closer to 50 appear earlier.
• The sort() method modifies the list in place (returns None).

Tip:
Use sorted(iterable, key=function) if you want a new sorted list without changing the original.
'''

[50, 65, 23, 82, 100]

## List (Copying a List)

In [75]:
# --- Copy Lists ---
fruits = ["apple", "banana", "cherry"]

copy1 = fruits.copy()       # Method 1
copy2 = list(fruits)        # Method 2

print(copy1)
print(copy2)



importance_of_copy = '''
Copying Lists — Why It's Useful

• Lists are mutable and assigned by reference.
  → If you do: copy_ref = fruits, both names refer to the same list in memory.
  → Changing one affects the other.

Example (problem without copy):
fruits = ["apple", "banana"]
copy_ref = fruits
copy_ref.append("cherry")
print(fruits)  # ['apple', 'banana', 'cherry'] — original also changed!

• Using copy() or list():
  copy_list = fruits.copy()
  OR
  copy_list = list(fruits)

Now copy_list is a *new* list with the same contents — changes to it don’t affect the original.

Useful when:
- You want to preserve the original list before modifying data.
- You need to process data independently (e.g., sorting, filtering).
- Avoid unintended side effects from shared references.

Note:
copy() makes a *shallow copy* (only top-level elements).
For nested lists, use copy.deepcopy() from the copy module.
'''

['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry']

## List (Joining Lists)

In [ ]:
# --- Join Lists ---
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

joined = list1 + list2
print(joined)  # ['a', 'b', 'c', 1, 2, 3]

list1.extend(list2)
print(list1)   # ['a', 'b', 'c', 1, 2, 3]

['a', 'b', 'c', 1, 2, 3]
['a', 'b', 'c', 1, 2, 3]

In [ ]:
# More on joining
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

type(" ".join(list1))

str

## List (Common List Methods)

In [ ]:
# --- Common List Methods ---
fruits = ["apple", "banana", "cherry", "apple"]

print(len(fruits))        # Count items → 4
print(fruits.count("apple"))  # Count occurrences → 2
print(fruits.index("banana")) # Find index → 1

fruits.reverse()          # Reverse order
print(fruits)

fruits.append("mango")    # Add new item
fruits.remove("cherry")   # Remove item
print(fruits)

4
2
1
['apple', 'cherry', 'banana', 'apple']
['apple', 'banana', 'apple', 'mango']

## **Tuples (Creating them)**

In [76]:
# --- Creating Tuples ---
t1 = ("apple", "banana", "cherry")
t2 = (1, 2, 3, 4)
t3 = (True, False, True)
t4 = ("apple", 10, True)  # Mixed types
t5 = ("one",)            # Single-item tuple must have a comma

print(t1)
print(type(t5))          # <class 'tuple'>

('apple', 'banana', 'cherry')
<class 'tuple'>

## Tuples (Features)

| Feature                      | Meaning                              | Example           |
| ---------------------------- | ------------------------------------ | ----------------- |
| **Ordered**                  | Items keep their fixed positions     | `("a", "b", "c")` |
| **Unchangeable / Immutable** | Cannot modify after creation         | No `t[0] = "x"` ❌ |
| **Allow Duplicates**         | Same value can appear multiple times | `("a", "a", "b")` |
| **Indexed**                  | Items accessed by index              | `t[0]`, `t[-1]`   |

## Tuples (Access Tuple Items)

In [77]:
# --- Accessing Tuple Items ---
fruits = ("apple", "banana", "cherry", "mango")

print(fruits[0])     # 'apple'
print(fruits[-1])    # 'mango'
print(fruits[1:3])   # ('banana', 'cherry')

apple
mango
('banana', 'cherry')

## Tuple (Immutable)

In [78]:
# --- Tuples are Immutable ---
t = ("a", "b", "c")

# t[0] = "z"  # ❌ Error: Cannot change tuple items

print(t)

('a', 'b', 'c')

## Tuple (Forcibly changing Tuple)

In [79]:
# --- Modify Tuple Indirectly ---
t = ("apple", "banana", "cherry")

temp_list = list(t)     # Convert to list
temp_list[1] = "kiwi"
t = tuple(temp_list)    # Convert back to tuple

print(t)    # ('apple', 'kiwi', 'cherry')




force_tuple_change = '''
Modifying a Tuple Indirectly — Key Notes

• Tuples are immutable → their elements cannot be changed directly.
• Workaround: convert the tuple to a list, modify it, then convert back.

Example:
t = ("apple", "banana", "cherry")
temp = list(t)
temp[1] = "kiwi"
t = tuple(temp)
→ ('apple', 'kiwi', 'cherry')

• This process creates a *new tuple* (the original remains unchanged).
• Useful when small updates are needed but immutability is required afterward.

Note:
This method is only practical for minor edits — if frequent changes are needed, use a list instead.
'''

('apple', 'kiwi', 'cherry')

## Tuple (Deleting Tuple Items (Not Possible))

In [80]:
# --- Remove Tuple Items ---
t = ("apple", "banana", "cherry")
# No direct remove allowed; delete whole tuple
del t
# print(t)  # ❌ Error: t no longer exists

## Tuple (Unpacking Tuples)

In [ ]:
# --- Tuple Unpacking ---
fruits = ("apple", "banana", "cherry")

(a, b, c) = fruits
print(a, b, c)

# Extended unpacking
numbers = (1, 2, 3, 4, 5)
x, *y = numbers
print(x)  # 1
print(y)  # [2, 3, 4, 5]

apple banana cherry
1
[2, 3, 4, 5]

In [ ]:
# More exploring in Unpacking

fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

# (green, yellow, *red) = fruits
# (*green, yellow, red) = fruits
*green, yellow, red = fruits
2
print(green)
print(yellow)
print(red)

['apple', 'banana', 'cherry']
strawberry
raspberry

## Set (Create)

In [ ]:
# --- Creating Sets ---
fruits = {"apple", "banana", "cherry"}
print(fruits)

# Duplicates are removed
s = {"a", "b", "a", "c"}
print(s)   # {'a', 'b', 'c'}

# Creating empty set
empty = set()
print(type(empty))   # <class 'set'>

{'apple', 'banana', 'cherry'}
{'a', 'b', 'c'}
<class 'set'>

## Set (Access)

In [81]:
# --- Access Items using Loop ---
fruits = {"apple", "banana", "cherry"}

for x in fruits:
    print(x)

cherry
banana
apple

## Set (Add items to Set)

In [ ]:
# --- Add Items ---
fruits = {"apple", "banana"}

fruits.add("cherry")        # Add one item
print(fruits)

fruits.update(["mango", "orange"])  # Add multiple items
print(fruits)

{'apple', 'banana', 'cherry'}
{'cherry', 'apple', 'mango', 'banana', 'orange'}

## Set (Remove Items from Set)

In [ ]:
# --- Remove Items ---
fruits = {"apple", "banana", "cherry"}

fruits.remove("banana")  # Error if item not found
print(fruits)

fruits.discard("kiwi")   # No error if item not found
print(fruits)

fruits.pop()             # Removes a random item
print(fruits)

fruits.clear()           # Empty the set
print(fruits)

{'apple', 'cherry'}
{'apple', 'cherry'}
{'cherry'}
set()

## Set (Join Sets)

In [82]:
# --- Join Sets ---
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

print(set1 | set2)            # Union
print(set1.union(set2))       # Same result

{'a', 1, 2, 3, 'b', 'c'}
{'a', 1, 2, 3, 'b', 'c'}

## Set (Operations)

In [ ]:
# --- Set Operations ---
a = {1, 2, 3, 4}
b = {3, 4, 5, 6}

print(a.intersection(b))   # {3, 4}
print(a.difference(b))     # {1, 2}
print(a.symmetric_difference(b))  # {1, 2, 5, 6}

{3, 4}
{1, 2}
{1, 2, 5, 6}

## Set (Membership Test)

In [ ]:
# --- Membership ---
fruits = {"apple", "banana"}
print("apple" in fruits)   # True
print("mango" not in fruits)  # True

True
True

## **Dictionary (Create)**

In [83]:
# --- Creating a Dictionary ---

# Method 1: Using curly braces
mydict = {
    "name": "Alice",
    "age": 25,
    "city": "Delhi"
}

# Method 2: Using dict() constructor
mydict2 = dict(name="Bob", age=30, city="Mumbai")

print(mydict)
print(mydict2)

{'name': 'Alice', 'age': 25, 'city': 'Delhi'}
{'name': 'Bob', 'age': 30, 'city': 'Mumbai'}

## Dict (Access)

In [84]:
# --- Access Items ---
student = {"name": "John", "age": 20, "course": "Python"}

print(student["name"])       # 'John'
print(student.get("age"))    # 20

print(student.keys())        # dict_keys(['name', 'age', 'course'])
print(student.values())      # dict_values(['John', 20, 'Python'])
print(student.items())       # dict_items([...])

John
20
dict_keys(['name', 'age', 'course'])
dict_values(['John', 20, 'Python'])
dict_items([('name', 'John'), ('age', 20), ('course', 'Python')])

## Dict (Change/Update)

In [85]:
# --- Update Items ---
student = {"name": "John", "age": 20, "course": "Python"}

student["age"] = 21          # Modify value
student.update({"course": "AI"})  # Update value

print(student)

{'name': 'John', 'age': 21, 'course': 'AI'}

## Dict (Add items)

In [ ]:
# --- Add Items ---
student = {"name": "John"}

student["age"] = 20
student.update({"city": "Delhi"})

print(student)

{'name': 'John', 'age': 20, 'city': 'Delhi'}

## Dict (Remove items)

In [ ]:
# --- Remove Items ---
student = {"name": "John", "age": 20, "city": "Delhi"}

student.pop("age")
print(student)               # 'age' removed

student.popitem()            # Removes last item
print(student)

del student["name"]          # Remove specific key
print(student)

student.clear()              # Clear dictionary
print(student)               # {}

{'name': 'John', 'city': 'Delhi'}
{'name': 'John'}
{}
{}

## Dict (Looping over)

In [ ]:
# --- Loop Dictionary ---
student = {"name": "John", "age": 20}

for key in student:
    print(key)      # Keys

for value in student.values():
    print(value)

for key, value in student.items():
    print(key, ":", value)

name
age
John
20
name : John
age : 20

## Dict (Nested Dict)

In [ ]:
# --- Nested Dictionaries ---
students = {
    "s1": {"name": "John", "age": 20},
    "s2": {"name": "Alice", "age": 22}
}

print(students["s1"]["name"])  # John

John